[submodule "experiment_helpers"]
	path = experiment_helpers
	url = https://github.com/jamesBaker361/experiment_helpers.git
[submodule "Wan2.2"]
	path = Wan2.2
	url = https://github.com/Wan-Video/Wan2.2.git
